<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626848273230-mkrdthhiq1v6dcab0nhrj3duitkv6br8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626848273230-mkrdthhiq1v6dcab0nhrj3duitkv6br8</string>
	<key>API_KEY</key>
	<string>AIzaSyCldjy7aRw8Ha3AuhYVJTeaXeXMch0drPY</string>
	<key>GCM_SENDER_ID</key>
	<string>626848273230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kidcodes.growcalth</string>
	<key>PROJECT_ID</key>
	<string>growcalth-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>growcalth-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626848273230:ios:a2b7b4e30ec88e939dc41f</string>
	<key>DATABASE_URL</key>
	<string>https://growcalth-ios-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>